@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700");
@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100vh;
}

body {
  font: 14px/1 'Open Sans', sans-serif;
  color: #000;
  background: #F2F2F2;
}

h1 {
  padding: 50px 0;
  font-weight: 400;
  text-align: center;
  font-family: 'Mountains of Christmas';
  color:white;
  font-size: 100px !important;


}

.fade.in{
	background-image: url(assets/img/g.jpeg);
	background-color: #F2F2F2;
}

h3{
  font:700 20px/26px 'Lato', sans-serif;
  color:#ffffff;
}

h2 {
	color:black !important;
	font-family: 'Mountains of Christmas';
}
p {
  margin: 0 0 20px;
  line-height: 1.5;
  font:400 16px/24px 'Lato', sans-serif;
  color:#798795;
}

a{
    text-decoration: none;
    font-family: 'Mountains of Christmas';
    color: #3A537B;
    font-size: 40px;
}

main {
  min-width: 320px;
  padding: 20px 30px 30px 30px;
  margin: 0 10vw;
  background: #fff;
  box-shadow: 1px 1px 40px #5A7193;
}

.jumbotron{
	height: 50vh;
	background-image: url(../img/jumboimg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

.jumbotron

.jumbotron .container{
	height: 100%;
}

.tabs-content{
    position: relative; 
    z-index: 3; 
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    margin-bottom: 20px;
}

.tab-contents {
  display: none;
  padding: 10px; 
  border-top: 1px solid #697E9D;

}

.tab-contents.active{
    display: block;
}


/*ONGLETS*/

@media screen and (max-width: 650px) {
  .hide-media {
  display: none;
	}
}

ul.tabs , .tabs li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.tabs li{
    float:left; 
    display: block;
}

.tabs:after{
    display: table;
    content: ' ';
    clear: both; 
}

.tabs a{
  	padding: 15px 25px;
  	font-weight: 600;
  	text-align: center;
  	color: #bbb;
  	border: 1px solid transparent;
    display: inline-block;
    background-color: #fff;
}

.tabs a:hover{
	text-decoration: none;
	color: #555;
}

.tabs .active a{
  color: #555;
  border: 1px solid #ddd;
  border-top: 1px solid #697E9D;
  border-bottom: 1px solid #fff;
}

.fade{
    opacity: 0; 
    transition: opacity 0.3s;
}

.fade.in{
    opacity: 1;
}

.fa{
	color: #C79D27;
}

.hide-media{
	color: #526A8C;
}

/*PETITS ONGLETS A GAUCHE*/
.nav-link {
	color:black;
}

.nav-link:hover {
	color:black;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link{
	color:white;
	background-color:#355178;
	opacity: 0.85;
}


.nav-pills .nav-link {
    border-radius: 0;
    width: 276px;
    margin-bottom: 40px;
    box-shadow: 1px 1px 40px #5A7193;
}

.movies {
	display: flex;
	justify-content: space-around;
}


/*ACCORDEON*/

.acc-container {
  width:90%;
  margin:30px auto 0 auto;
  overflow:hidden;
}

.acc-btn { 
  width:100%;
  margin:0 auto;
  padding:20px 25px;
  cursor:pointer;
  background:#355178;
  opacity: 0.75;
 
}

.acc-content {
  height:0px;
  width:100%;
  margin:0 auto;
  overflow:hidden;
  background:#000;
  box-shadow: 1px 1px 40px #5A7193;
}

.acc-content-inner {
  padding:30px;

}

.acc-content {
	background-color: #F2F2F2;
	border-bottom: solid 1px #BEC6D1; 
	border-top: solid 1px #BEC6D1; 
	box-shadow: 1px 1px 40px #5A7193;
}

.acc-content h3 {
	background-color: #BBCDE1;
	border: solid 1px #fff; 
}
.acc-content p {
	color: black;
}

h3.selected {
	color: white;
}

.open {
  height: auto;
}

.bibimg{
	display: flex;
	justify-content: center;
}


.iconfilm{
	width: 150px;
	height: auto;
}

 .carouimg{
 	height: 916px !important;
 }

 .btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.btn-primary{
	color: #fff;
    background-color: #50688C;
    border-color: #50688C;
}

.btn-primary:hover {
    color: #fff;
    background-color: #37557B;
    border-color: #50688C;
}
.btn:focus, .btn:hover {
    text-decoration: none;
}
.mb-2, .my-2 {
    margin-bottom: .5rem !important;
}

/*NIC*/

.red{
	color: #50688C;
}

.hidden{
	display: none;
}

.black-line{
	display: block;
	width: 100%;
	height: 48px;
	background-color:black;
	opacity: 0.75;
}

/*GOODIES*/
#goodies .vignettes{
	margin-bottom: 1rem;
}

#goodies .card{
    height: 100%;
	background-color: #E9E9EA;
	border-bottom: 2px solid #C6C6C6;
}

#goodies img{
	border-radius: 0;
	margin: 0 auto 0.3rem;
	height: 35vh !important;
}

#goodies .footer-card{
	display: flex;
	justify-content: space-between;
	padding: 0 0.5rem;
}

#goodies form{
	/*width: 40px;*/
	/*height: 40px;*/
}

#goodies input{
	width: 30px;
}


footer {
  background-color: #3A3B3B;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: #fff !important; 
}
footer a {
    line-height: 30px !important;
    border-radius: 100% !important; }





